.grid-header{
  padding-top: 20px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;

  .result-text{
    margin-bottom: 10px;
  }
  .form-group{
    margin-bottom: 8px;
    label{
      display: block;
      margin-bottom: 5px;
    }
  }

}
